--
-- PostgreSQL database dump
--

\restrict Enad8NQ6ue4Yzd6slvlVMwNDlMxI38Z1CcyAcZ2g0QOwpKLWg2jeEDVrKrHZrOs

-- Dumped from database version 15.18 (Debian 15.18-1.pgdg13+1)
-- Dumped by pg_dump version 15.18 (Debian 15.18-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: inventory; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.inventory (
    inventory_id integer NOT NULL,
    sku character varying(50),
    stock_level integer,
    availability integer,
    order_quantity integer
);


ALTER TABLE public.inventory OWNER TO admin;

--
-- Name: inventory_inventory_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.inventory_inventory_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.inventory_inventory_id_seq OWNER TO admin;

--
-- Name: inventory_inventory_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.inventory_inventory_id_seq OWNED BY public.inventory.inventory_id;


--
-- Name: logistics; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.logistics (
    shipment_id integer NOT NULL,
    sku character varying(50),
    shipping_carrier character varying(100),
    shipping_time integer,
    shipping_cost double precision,
    transportation_mode character varying(50),
    route character varying(100)
);


ALTER TABLE public.logistics OWNER TO admin;

--
-- Name: logistics_shipment_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.logistics_shipment_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.logistics_shipment_id_seq OWNER TO admin;

--
-- Name: logistics_shipment_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.logistics_shipment_id_seq OWNED BY public.logistics.shipment_id;


--
-- Name: manufacturing; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.manufacturing (
    manufacturing_id integer NOT NULL,
    sku character varying(50),
    production_volume integer,
    manufacturing_lead_time integer,
    manufacturing_cost double precision
);


ALTER TABLE public.manufacturing OWNER TO admin;

--
-- Name: manufacturing_manufacturing_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.manufacturing_manufacturing_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.manufacturing_manufacturing_id_seq OWNER TO admin;

--
-- Name: manufacturing_manufacturing_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.manufacturing_manufacturing_id_seq OWNED BY public.manufacturing.manufacturing_id;


--
-- Name: products; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.products (
    sku character varying(50) NOT NULL,
    product_type character varying(100) NOT NULL,
    price double precision NOT NULL
);


ALTER TABLE public.products OWNER TO admin;

--
-- Name: sales_fact; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.sales_fact (
    sale_id integer NOT NULL,
    sku character varying(50),
    units_sold integer,
    revenue_generated double precision,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.sales_fact OWNER TO admin;

--
-- Name: sales_fact_sale_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.sales_fact_sale_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.sales_fact_sale_id_seq OWNER TO admin;

--
-- Name: sales_fact_sale_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.sales_fact_sale_id_seq OWNED BY public.sales_fact.sale_id;


--
-- Name: suppliers; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.suppliers (
    supplier_id integer NOT NULL,
    supplier_name character varying(100) NOT NULL,
    location character varying(100),
    lead_time integer,
    defect_rate double precision,
    inspection_result character varying(50)
);


ALTER TABLE public.suppliers OWNER TO admin;

--
-- Name: suppliers_supplier_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.suppliers_supplier_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.suppliers_supplier_id_seq OWNER TO admin;

--
-- Name: suppliers_supplier_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.suppliers_supplier_id_seq OWNED BY public.suppliers.supplier_id;


--
-- Name: inventory inventory_id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.inventory ALTER COLUMN inventory_id SET DEFAULT nextval('public.inventory_inventory_id_seq'::regclass);


--
-- Name: logistics shipment_id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.logistics ALTER COLUMN shipment_id SET DEFAULT nextval('public.logistics_shipment_id_seq'::regclass);


--
-- Name: manufacturing manufacturing_id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.manufacturing ALTER COLUMN manufacturing_id SET DEFAULT nextval('public.manufacturing_manufacturing_id_seq'::regclass);


--
-- Name: sales_fact sale_id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.sales_fact ALTER COLUMN sale_id SET DEFAULT nextval('public.sales_fact_sale_id_seq'::regclass);


--
-- Name: suppliers supplier_id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.suppliers ALTER COLUMN supplier_id SET DEFAULT nextval('public.suppliers_supplier_id_seq'::regclass);


--
-- Data for Name: inventory; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: logistics; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: manufacturing; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: products; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: sales_fact; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: suppliers; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Name: inventory_inventory_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.inventory_inventory_id_seq', 100, true);


--
-- Name: logistics_shipment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.logistics_shipment_id_seq', 100, true);


--
-- Name: manufacturing_manufacturing_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.manufacturing_manufacturing_id_seq', 100, true);


--
-- Name: sales_fact_sale_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.sales_fact_sale_id_seq', 3527, true);


--
-- Name: suppliers_supplier_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.suppliers_supplier_id_seq', 100, true);


--
-- Name: inventory inventory_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.inventory
    ADD CONSTRAINT inventory_pkey PRIMARY KEY (inventory_id);


--
-- Name: logistics logistics_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.logistics
    ADD CONSTRAINT logistics_pkey PRIMARY KEY (shipment_id);


--
-- Name: manufacturing manufacturing_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.manufacturing
    ADD CONSTRAINT manufacturing_pkey PRIMARY KEY (manufacturing_id);


--
-- Name: products products_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_pkey PRIMARY KEY (sku);


--
-- Name: sales_fact sales_fact_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.sales_fact
    ADD CONSTRAINT sales_fact_pkey PRIMARY KEY (sale_id);


--
-- Name: suppliers suppliers_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.suppliers
    ADD CONSTRAINT suppliers_pkey PRIMARY KEY (supplier_id);


--
-- Name: inventory inventory_sku_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.inventory
    ADD CONSTRAINT inventory_sku_fkey FOREIGN KEY (sku) REFERENCES public.products(sku);


--
-- Name: logistics logistics_sku_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.logistics
    ADD CONSTRAINT logistics_sku_fkey FOREIGN KEY (sku) REFERENCES public.products(sku);


--
-- Name: manufacturing manufacturing_sku_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.manufacturing
    ADD CONSTRAINT manufacturing_sku_fkey FOREIGN KEY (sku) REFERENCES public.products(sku);


--
-- Name: sales_fact sales_fact_sku_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.sales_fact
    ADD CONSTRAINT sales_fact_sku_fkey FOREIGN KEY (sku) REFERENCES public.products(sku);


--
-- PostgreSQL database dump complete
--

\unrestrict Enad8NQ6ue4Yzd6slvlVMwNDlMxI38Z1CcyAcZ2g0QOwpKLWg2jeEDVrKrHZrOs

